@model IEnumerable<Assig.Models.Machine>

@{
    ViewBag.Title = "Home";
}


<!-- HERO SECTION-->
<section class="hero hero--video">
    <div style="background-repeat: no-repeat; padding: 100px; background-size: cover; background-position: center; background-image: url(https://assets.website-files.com/6108dfdf038870559bf2c8d7/612474901c0d05791ec7bac1_hyundai%20product%20banner%20iamge.jpg) ">
        <div class="text-center fs-3 text-white">
            <h1> The best way to Rent new & used equipment</h1>

        </div>
        <div class="d-flex justify-content-center">

            <form class="form-inline my-2 my-lg-0" asp-controller="Home" asp-action="/Search/" style="padding-right:25px">
                <div class="d-flex">
                    <input style="width: 600px;" name="searchString" type="text" class="form-control" placeholder="Search for a machine..." aria-autocomplete="both" />
                    <button class="btn btn-warning my-2 my-sm-0" type="submit"><i class="bi bi-search">Search</i></button>
                </div>
            </form>
        </div>
    </div>



</section>

<h2 class="mt-4 text-center" style="color: dimgray"> Machines for Rent</h2>
<div class="d-flex justify-content-center" >
    <hr style="height: 5px; background-color: #ffd800; width: 40px; " />
</div>
<div class="d-flex">
    <!-- Category SECTION-->
    <div style="width: 900px; padding: 30px" class="">
        <h3 style="color: darkgray; margin-bottom: 10px" > Category</h3>
        <div class="d-flex flex-column">
            <a class="btn-outline-secondary mb-1" style="margin-left: 30px" href="/Home/Catagory/?searchString=">All Catagories</a>
            <a class="btn-outline-secondary mb-1" style="margin-left: 30px" href="/Home/Catagory/?searchString=Tra">Tractor</a>
            <a class="btn-outline-secondary mb-1" style="margin-left: 30px" href="/Home/Catagory/?searchString=Ex">Excavator</a>
            <a class="btn-outline-secondary mb-1" style="margin-left: 30px" href="/Home/Catagory/?searchString=Dum">Dumb Truck</a>
            @*<button style="margin-left: 30px" type="button" class="btn btn-outline-secondary mb-1">TRACTOR</button>
            <button style="margin-left: 30px" type="button" class="btn btn-outline-secondary mb-1">ESCAVATOR</button>
            <button style="margin-left: 30px" type="button" class="btn btn-outline-secondary mb-1 ">DUMB TRUCK</button>*@
        </div>

       

    </div>

    <div class="row d-flex justify-content-center " style="background-color: #f0f2f5">


        @foreach (var item in Model)
        {
            <!-- LISTING SECTION-->
            <div class="card mb-2" style="width: 800px; height: 300px; color: dimgray">
                <div class="row no-gutters mt-3">

                    <div class="col-sm-7">
                        <div class="card-body">
                            <p class="card-text">@item.Industry</p>
                            <h5 class="card-title">@item.MachineName</h5>
                            <p class="card-text">2008.</p>
                            <h4 class="card-text">ETB @item.Price / Month</h4>
                            <p class="card-text">@item.City </p>
                            <p class="card-text">@item.PhoneNumber </p>
                         
                            <a href="/Home/Details/@item.MachineID" class="stretched-link"></a>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <img class="card-img" height="200" src="https://www.thebalancesmb.com/thmb/IKSdhemuLnxl1GZ0hWYUesJ7ozw=/640x640/smart/filters:no_upscale()/escavation-921233_960_720-57a2715c3df78c327648cd18.jpg" alt="Suresh Dasari Card">
                    </div>
                </div>
            </div>
            @*<div class="card mx-2 mb-2 col-md-5 col-lg-5 col-sm-2 cursor-pointer" style="width: 18rem;">
                <img src="https://www.thebalancesmb.com/thmb/IKSdhemuLnxl1GZ0hWYUesJ7ozw=/640x640/smart/filters:no_upscale()/escavation-921233_960_720-57a2715c3df78c327648cd18.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">   @Html.DisplayFor(modelItem => item.MachineName)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.PhoneNumber)</p>
                    <p class="card-footer"> @Html.DisplayFor(modelItem => item.Price) br / Month</p>
                    <a href="/Home/Details/@item.MachineID" class="stretched-link"></a>
                </div>
            </div>*@

        }

    </div>
</div>



