@model IEnumerable<Assig.Models.Machine>

@{
    ViewBag.Title = "Personal";
}

<h2>Personal</h2>

<table class="table">
    <tr>
        <th>
            <p></p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MachineName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Industry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <img class="img-rounded" src=@item.ImageUrl alt=@item.MachineName style="max-width:70px" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MachineName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Industry)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.MachineID }) |
            @Html.ActionLink("Details", "Details", new { id = item.MachineID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.MachineID })
            @Html.ActionLink("Rented", "Rented", new { id = item.MachineID })
        </td>
    </tr>
}

</table>
